Package: com.spotilife
Name: SpotiLife
Version: 1.0.0
Architecture: iphoneos-arm
Description: Spotify Premium Feautures [No Downloads].
Maintainer: MrSmithx <someone@somewhere.com>
Author: MrSmithx
Section: Tweaks
